<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USMTMigration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <USMTMigration.Properties.Settings>
            <setting name="BackupLoc" serializeAs="String">
                <value>C:\Users\iguest\Desktop\Backup</value>
            </setting>
            <setting name="LogLoc" serializeAs="String">
                <value>C:\Users\iguest\Desktop\Logs</value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>/i:migapp.xml /i:miguser.xml /v:13 /c</value>
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalUSMTLoc" serializeAs="String">
                <value>C:\Users\iguest\Desktop\Local USMT</value>
            </setting>
            <setting name="RemoteUSMTLoc" serializeAs="String">
                <value>C:\Users\iguest\Desktop\Remote USMT</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="DaysToSave" serializeAs="String">
                <value>30</value>
            </setting>
        </USMTMigration.Properties.Settings>
    </userSettings>
</configuration>