<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USMTMigration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <USMTMigration.Properties.Settings>
            <setting name="BackupLocation" serializeAs="String">
                <value>\\Place\To\Save\Files</value>
            </setting>
            <setting name="LogLocation" serializeAs="String">
                <value>\\Place\To\Save\Logs</value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>/v:13 /c</value>
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalUSMTLocation" serializeAs="String">
                <value>C:\USMT</value>
            </setting>
            <setting name="RemoteUSMTLocation" serializeAs="String">
                <value>\\Where\To\Get\USMT\Files</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="MigApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MigUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MigDocs" serializeAs="String">
                <value>False</value>
            </setting>
        </USMTMigration.Properties.Settings>
    </userSettings>
</configuration>